{% extends 'base.html' %}

{% block head %}
<title>Disco Quote Wall</title>
{% endblock %}

{% block navbar_links %}
<li class="nav-item active">
    <a class="nav-link" data-toggle="modal" data-target="#addQuoteModal">Add quote</a>
</li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="card-columns">
        {% for quote in quotes %}
        <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
              <p>{{ quote.quote }}</p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                  {{ quote.name }}, {{ quote.context }}
                </small>
             </footer>
           </blockquote>
        </div>
        {% endfor %}

    </div>
</div>

    <div class="modal fade" id="addQuoteModal" tabindex="-1" aria-labelledby="addQuoteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addQuoteModalLabel">New quote</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="quote-form" action="/" method="POST">
              <div class="mb-3">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>
                <div class="mb-3">
                <label for="name" class="col-form-label">Context:</label>
                <input type="text" class="form-control" name="context" id="context">
              </div>
              <div class="mb-3">
                <label for="quote" class="col-form-label">Quote:</label>
                <textarea class="form-control" name="quote" id="quote"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="quote-form">Add quote</button>
          </div>
        </div>
      </div>
    </div>



{% endblock %}